{% extends 'base.html.twig' %}
{% block carousel %}{% endblock %}
{% block content %}
        <!-- Three columns of text below the carousel -->
        <h3>Nos meilleures ventes</h3>
        <p>Decouvrez nos articles plus vendu.</p>
        <div class="row">
           {% for product in products %}
                <div class="col-md-3">
                    {% include 'product/single_product.html.twig' %}
                </div>
           {% endfor %}
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Professionnels de la  <span class="text-muted">qualité.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
              <img src="{{ asset('assets/img/first.jpg')}}" class="img-fluid" alt="savoir-faire">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Les meilleurs tissus <span class="text-muted">du monde.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                              <img src="{{ asset('assets/img/second.jpg')}}" class="img-fluid" alt="toujours-ouvertes">
            </div>
        </div>

       

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

{% endblock %}